{% extends "ecommerce/base.html" %}
{% load static %}
{% load custom_filters %}

<link rel="stylesheet" href="{% static 'ecommerce/css/style_product.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css">


{% block main %}

    <section id="product-select">

        <div class="column-left">

            <div id="image-view">
                <img src="{{ product.image }}" alt="">
            </div>
            
        </div>

        <div class="column-right">
            <h4>{{ product.seller.enterprise_name }}</h4>
            <h1 id="product-name">{{ product.name }}</h1>

            <div id="review-product" class="display-flex-align-center">
                <div>
                    <img src="{% static 'ecommerce/images/reviews/star-100.png' %}" alt="">
                    <img src="{% static 'ecommerce/images/reviews/star-100.png' %}" alt="">
                    <img src="{% static 'ecommerce/images/reviews/star-100.png' %}" alt="">
                    <img src="{% static 'ecommerce/images/reviews/star-50.png' %}" alt="">
                    <img src="{% static 'ecommerce/images/reviews/star-0.png' %}" alt="">
                </div>
                <p>Compras: 1.4 mil</p>
            </div>


            <div id="value">
                <h1>R$ {{ product.value|format_brl }}</h1>
            </div>

            <div class="quantity-container">
                <span>Quantidade</span>
                <div class="quantity-selector">
                    <button type="button" class="btn-minus">−</button>
                    <input type="number" class="quantity-input" value="1" min="1" max="9999">
                    <button type="button" class="btn-plus">+</button>
                </div>
                <span class="available">9999 peças disponíveis</span>
            </div>


            <div class="button-container">
                <button  id="add-to-cart-btn" class="btn-outline"> <i class="cart-icon">🛒</i> Adicionar Ao Carrinho </button>
                <button id="buy-now-btn" class="btn-filled">Comprar Agora</button>
            </div>
        </div>
    </section>

<script src="{% static 'ecommerce/js/scripts_base.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Adicionar eventos de clique apenas após o DOM ser completamente carregado
        document.querySelector('.btn-minus').addEventListener('click', function () {
            const input = document.querySelector('.quantity-input');
            let value = parseInt(input.value);
            if (value > 1) {
                input.value = value - 1;
            }
        });
    
        document.querySelector('.btn-plus').addEventListener('click', function () {
            const input = document.querySelector('.quantity-input');
            let value = parseInt(input.value);
            if (value < input.max) {
                input.value = value + 1;
            }
        });
    
       
    
        // Adicionar evento de clique ao botão "Adicionar ao Carrinho"
        document.getElementById('add-to-cart-btn').addEventListener('click', function () {
    
    
            if (isLoggedIn()) {
                AddProductCart()
            } else {
                window.location.href = '/login/';
            }
        });
    
    
        document.getElementById('buy-now-btn').addEventListener('click', function () {
    
            if (isLoggedIn()) {
                AddProductCart()
                window.location.href = '/cart/';
            } else {
                window.location.href = '/login/';
            }
        });
    });
    
    // Função para verificar se o usuário está logado com base no username
    function isLoggedIn() {
        const usernameElement = document.querySelector('#user span'); // Verifica o elemento com o username
        console.log('Verificando se o usuário está logado...');
        return usernameElement && usernameElement.textContent.trim() !== ''; // Verifica se o conteúdo do span não está vazio
    }



    function AddProductCart() {
        var token = '{{ token }}'
        if (token) {

            const quantityInput = document.querySelector('.quantity-input');
            const quantityValue = quantityInput.value;
            const productId = '{{ product.id }}'
            const data = {
                    quantity: quantityValue,
                    product: productId
                }
            
            

            var url = 'http://127.0.0.1:8000/api/v1/cart/add/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer '+ token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // Serializando o conteúdo para enviar no corpo da requisição

            })
            .then(response => response.json())
            .then(data => {
                // releaseCart()
                Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "Produto adicionado ao carrinho!",
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    // Após o alerta de sucesso, submete o formulário
                    numberIconCart('{{ token }}')
                    console.log('"Produto adicionado ao carrinho!')
                });
    
            })
            .catch(error => {
                console.error('Erro ao adicionar ao carrinho:', error); 
            });
        }
        else {
            window.location.href = '/login/';
        }


    }
    

</script>

{% endblock %}

